:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
  }

.txtdropdown{
    transition: margin-top var(--speed) ease;
}

.dropdown{
    position: absolute;
    margin-top: 1em;
    width: 100%;
    transition: translateX(-45%);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.btn-addtoko{
    background: #19f1a9;
    @apply px-10 py-2 m-4;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 3px 3px 5px #d1d1d1;
}
.btn-addtoko:hover{
    background: #17cf92;
    color: #FFFFFF;
    @apply px-10 py-2 m-4;
    margin-top: 0.5em;
    margin-left:0.5em;
    margin-bottom:0em;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 0px;
}

.btn-submit{
    background:#3bccff;
    color: white;
    padding: 5px 45%;
}
.btn-submit:hover{
    color:black;
}

.input-form{
    background: #e2fff3;
}

.input-form-enter {
    transform: translateY(-110%);
}

.input-form-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.input-form-exit {
}

.input-form-exit-active {
    transform: translateY(-110%);
    transition: all var(--speed) ease;
}

.txtbottom-form-enter {
}

.txtbottom-form-enter-active {
    transition: margin-top var(--speed) ease;
}

.txtbottom-form-exit {
}

.txtbottom-form-exit-active {
    transition: margin-top var(--speed) ease;
}

.tokoformjudul{
    float:left;
    height: 2em;
    background: #fdfff4;
    width: 100%;
    border: 2px;
}

.tokoformdeskripsi{
    float:left;
    height: 6em;
    width:100%;
    background: #fdfff4;
    border: 2px;
}

.tokoformheader{
    margin-top: 3em;
    margin-bottom:0.5em;
    text-align:left;
    font: 15px;
    left: 10px;
}

.map-container{
    height: 22em;
  }

.columnleft {
    float: left;
    width: 40%;
    padding: 10px;
}

.columnright{
    float: right;
    width: 60%;
    padding: 10px;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

.mainRunner {
    border: 1px #000;
    position: relative;
  }
  
  .img1 {
    border: 1px #f00;
    position: relative;
    z-index: 3;
    bottom:50px;
  }
  
  .img2 {
    border: 1px #0f0;
    position: relative;
    z-index: 1;
    top: -12px;
    left: 12px;
  }

  .sidebar{
    background-color: rgba(35, 55, 75, 0.7);
    color: #ffffff;
    padding: 3px 3px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 2em;
    width:70%;
    text-align: center;
    margin:auto;
    border-radius: 20px;
    transition: 0.3s;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
